@{
    ViewData["Title"] = "Home Page";
}

@section CssScripts {
<link href="~/css/Home.css" rel="stylesheet" />
}

<div class="infinite-container">
    <div class="dog-picture-box"><img class="dog-picture" src="images/dog0.jpg" /></div>
    <div class="dog-picture-box"><img class="dog-picture" src="images/dog1.jpg" /></div>
    <div class="dog-picture-box"><img class="dog-picture" src="images/dog2.jpg" /></div>
    <div class="dog-picture-box"><img class="dog-picture" src="images/dog3.jpg" /></div>
    <div class="dog-picture-box"><img class="dog-picture" src="images/dog4.jpg" /></div>
    <div class="dog-picture-box"><img class="dog-picture" src="images/dog5.jpg" /></div>
    <div class="dog-picture-box"><img class="dog-picture" src="images/dog6.jpg" /></div>
    <div class="dog-picture-box"><img class="dog-picture" src="images/dog7.jpg" /></div>
    <div class="dog-picture-box"><img class="dog-picture" src="images/dog0.jpg" /></div>
    <div class="dog-picture-box"><img class="dog-picture" src="images/dog1.jpg" /></div>
    <div class="dog-picture-box"><img class="dog-picture" src="images/dog2.jpg" /></div>
    <div class="dog-picture-box"><img class="dog-picture" src="images/dog3.jpg" /></div>
    <div class="dog-picture-box"><img class="dog-picture" src="images/dog4.jpg" /></div>
    <div class="dog-picture-box"><img class="dog-picture" src="images/dog5.jpg" /></div>
    <div class="dog-picture-box"><img class="dog-picture" src="images/dog6.jpg" /></div>
    <div class="dog-picture-box"><img class="dog-picture" src="images/dog7.jpg" /></div>
    <div class="dog-picture-box"><img class="dog-picture" src="images/dog0.jpg" /></div>
    <div class="dog-picture-box"><img class="dog-picture" src="images/dog1.jpg" /></div>
    <div class="dog-picture-box"><img class="dog-picture" src="images/dog2.jpg" /></div>
    <div class="dog-picture-box"><img class="dog-picture" src="images/dog3.jpg" /></div>
    <div class="dog-picture-box"><img class="dog-picture" src="images/dog4.jpg" /></div>
    <div class="dog-picture-box"><img class="dog-picture" src="images/dog5.jpg" /></div>
    <div class="dog-picture-box"><img class="dog-picture" src="images/dog6.jpg" /></div>
    <div class="dog-picture-box"><img class="dog-picture" src="images/dog7.jpg" /></div>
</div>


<input type="hidden" value="0" id="TopItemNumber" />

@section scripts {
    <script src="~/js/home.js"></script>
}